<%- include ('../../../header.ejs') %>
<div id="container">
    <%- include ('../../nav.ejs') %>
    <div id="content-container">
        <h1><%= title %></h1>
        <form method="post" enctype="multipart/form-data"
              onsubmit="return confirm('Are you sure you want to submit?');">
            <div id="image-upload">
                <% if (editable === true) { %>
                    <img src=<%= imageUrl %> id="upload-preview" width="50%"/>
                <% }else { %>
                    <img id="upload-preview" width="50%"/>
                <% } %>

                <input style="display:none;" type="file" type="image" id="image" name="image"
                       accept="image/jpeg, image/jpg, image/png, image/svg, image/webp"
                       oninput="document.getElementById('upload-preview').src = window.URL.createObjectURL(this.files[0])">
                <label id="image-upload-label" for="image">Choose an image</label>
            </div>
            <div>
                <label for="word">Word:</label>
                <% if (editable === true) { %>
                    <input required type="text" id="word" name="word" value=<%= word %>></textarea>
                <% }else { %>
                    <input required type="text" id="word" name="word"></textarea>
                <% } %>
            </div>
            <div>
                <input type="submit" value="Upload">
            </div>

            <% if (editable === true) { %>
                <input id="delete" type="submit" name="delete" value="delete">
            <% } %>
        </form>


        <style>
            #container {
                display: flex;
                flex-direction: row;
                height: 100%;
            }

            #content-container {
                padding: 16px 16px 16px 32px;
            }

            #image-upload {
                display: flex;
                flex-direction: column;
            }

            #upload-preview {
                margin: 8px;
                border: black solid 1px;
            }

            label {
                display: block;
                margin-bottom: 0.5rem;
            }

            #image {
                margin-bottom: 1rem;
            }

            #word {
                margin-bottom: 1rem;
            }

            #delete {
                margin-top: 1rem;
                background-color: red;
                padding: 16px;
            }

            #image-upload-label {
                cursor: pointer;
                padding: 16px;
                background-color: #4CAF50;
                border-radius: 16px;
                width: 50%;
            }

        </style>

        <script>
            const {Client, Account, ID} = Appwrite;
            const client = new Client()
                .setEndpoint("https://aw.responsible-it.nl/v1")
                .setProject("63a32dec14be845ec0f9")

        </script>
    </div>
</div>
<%- include ('../../../footer.ejs') %>