<%- include ('../../header.ejs') %>
<div id="container">
    <%- include ('../nav.ejs') %>
    <div id="content-container">
        <h1><%= title %></h1>
        <a id="upload-word-link" href="/cms/words/upload">Upload Word</a>
        <% if(typeof (words) != "undefined") { %>
            <ul>
                <% words.forEach(word => { %>
                    <li>
                        <a class="square-link" href="words/<%= word.id %>">
                            <%= word.word %>
                        </a>
                    </li>
                <% }); %>
            </ul>
        <% } %>

        <style>
            #container {
                display: flex;
                flex-direction: row;
                height: 100%;
            }

            #content-container {
                padding: 16px 16px 16px 32px;
            }

            #upload-word-link {
                display: block;
                background-color: #4CAF50;
                color: white;
                text-align: center;
                padding: 32px;
                text-decoration: none;
                border-radius: 12px;
            }
        </style>

        <script>
            const {Client, Account, ID} = Appwrite;
            const client = new Client()
                .setEndpoint("https://aw.responsible-it.nl/v1")
                .setProject("63a32dec14be845ec0f9")

        </script>
    </div>
</div>
<%- include ('../../footer.ejs') %>