<%- include ('../../../header.ejs') %>
<%- include ('../../nav.ejs', {active: "lists"}) %>
<form class="card rounded-none bg-base-100 h-screen w-4/12 p-8 space-y-4" method="post" enctype="multipart/form-data"
      onsubmit="return confirm('Are you sure you want to submit?');">
    <h1 class="text-3xl font-bold text-slate-500 italic"><%= title %></h1>
    <div class="form-control w-full max-w-xs">
        <label for="category" class=" label">
            <span class="label-text font-bold">Naam lijst</span>
        </label>
        <input required class="input bg-gray-200 border-2 border-gray-300 w-full max-w-xs" type="text" id="category"
               name="category"
               value=<%= editable ? category : null %>></textarea>
    </div>
    <% if (typeof (allWords) != "undefined") { %>
        <fieldset>
            <label class="label">
                <span class="label-text font-bold">Woorden</span>
            </label>
            <div class="card border-2 border-gray-300 bg-gray-200 p-4 max-h-96 overflow-auto">
                <% allWords.forEach(word => { %>
                    <div>
                        <label class="label cursor-pointer" for=<%= word.word %>>
                            <span class="label-text"><%= word.word %></span>
                            <% if(word.subscribedWordList) { %>
                                <% if (word.subscribedWordList.some(e => e === listId)) { %>
                                    <input class="checkbox"
                                           data-id="<%= word.id %>" type="checkbox"
                                           id="<%= word.word %>" name="words"
                                           value="<%= word.id %>" checked/>
                                <% } else { %>
                                    <input class="checkbox"
                                           data-id="<%= word.id %>" type="checkbox"
                                           id="<%= word.word %>" name="words"
                                           value="<%= word.id %>"/>
                                <% } %>
                            <% } else { %>
                                <input class="checkbox"
                                       data-id="<%= word.id %>" type="checkbox" id="<%= word.word %>" name="words"
                                       value="<%= word.id %>"/>
                            <% } %>
                        </label>
                    </div>
                <% }) %>
            </div>
        </fieldset>
    <% } %>

    <div class="pt-8">
        <input class="btn bg-green-600 px-8" type="submit" value="<%= editable ? "Update" : "Upload" %>">
        <a class="btn bg-orange-400 px-8" href="/cms/lists">Annuleren</a>

        <% if (editable === true) { %>
            <input class="btn bg-red-600 px-8" id="delete" type="submit" name="delete" value="delete">
        <% } %>
    </div>
</form>
<script>
    const {Client, Account, ID} = Appwrite;
    const client = new Client()
        .setEndpoint("https://aw.responsible-it.nl/v1")
        .setProject("63a32dec14be845ec0f9")

</script>
</div>
</div>
<%- include ('../../../footer.ejs') %>